################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DddInPractice
/DddInPractice.Logic/bin
/DddInPractice.Logic/obj
